@import "../../../shared/mixins";
@import "../../../shared/vars";

.login {
	@include mobile {
		width: 60%;
	}

	width: 35em;
	margin: 0 auto;
	padding: 2.5em;
	border-radius: 10px;
	background: aliceblue;

	&__form {
		&__login {
			margin-top: 1em;
		}
	}

	&-wrapper {
		@include mobile {
			height: calc(100% - 152px);
		}
		height: calc(100% - 110px);
	}

	&__error {
		@include mobile {
			top: 27%;
		}

		position: absolute;
		top: 20%;
		width: 100%;

		mat-card {
			@include mobile {
				width: 80%;
			}

			width: 60%;
			text-align: center;
		}

		.alert {
			color: $alert;
		}

		.success {
			color: $success;
		}

		.alert,
		.success {
			font-size: 18px;
		}
	}
}
