<div class="weather-header" fxLayout="row" fxLayoutAlign="space-between center">
	<div class="weather-header__item" routerLink="">
		<img src="../../assets/images/logo.png" alt="herolo-logo" class="weather-header__logo" />
	</div>

	<div class="weather-header__item">
		<div class="weather-header__search" fxLayout="row" fxLayoutAlign="center center">
			<input
				type="search"
				placeholder="Search city weather..."
				ngModel
				#search="ngModel"
				pattern="^[\S][^\u0590-\u05FF]+$"
			/>
		</div>
	</div>

	<div class="weather-header__navigate" fxLayoutAlign="center center">
		<button mat-raised-button color="primary" routerLink="favorites" *ngIf="!isFavorite()">
			To Favorites
		</button>
		<button mat-raised-button color="primary" routerLink="" *ngIf="isFavorite()">To Home</button>
	</div>
</div>
