<div class="weather-header" fxLayout="row" fxLayoutAlign="space-between start">
	<div class="weather-header__item">
		<img src="../../assets/images/logo.png" alt="herolo-logo" class="weather-header__logo" />
	</div>
	<div class="weather-header__item">
		<div class="weather-header__search" fxLayout="row" fxLayoutAlign="center center">
			<input
				type="search"
				placeholder="Search city weather..."
				ngModel
				#search="ngModel"
				pattern="^[\S][^\u0590-\u05FF]+$"
			/>
		</div>
	</div>
</div>
