@import "../../shared/mixins";
@import "../../shared/vars";

.weather-header {
	@include mobile {
		padding: 2em 2em 0;
	}

	padding: 2em 0 0;
	flex-wrap: wrap;

	&__sub {
		width: 100%;
		padding: 15px 30px;
		background-color: #ceefff6b;

		&__container {
			@include mobile {
				width: 100%;
			}

			width: 20em;

			&__route {
				font-weight: bold;
				font-size: 13px;
			}
		}

		&__logo {
			transition: all 1s;

			&:hover {
				transform: scale(1.2);
			}

			@include mobile {
				margin: 0 auto 1em;
			}

			img {
				width: 100%;
			}

			width: 7em;
			margin-top: 10px;
			cursor: pointer;
		}
	}
}
