@import "../../shared/mixins";
@import "../../shared/vars";

.weather-header {
	@include mobile {
		padding: 1em;
		margin-bottom: 1em;
	}

	padding: 2em 0;
	flex-wrap: wrap;

	&__item {
		&:first-child {
			@include mobile {
				width: 100%;
				margin-bottom: 2em;
			}
			width: 30em;
		}
	}

	&__search {
		@include mobile {
			padding: 0.7em;
		}

		background: #7aafd9;
		padding: 1em;
		border: 2px solid #5399e6;
		border-radius: 2em;

		input {
			background: transparent;
			border: none;
			font-size: 1rem;
			font-weight: bold;
			margin-left: 4em;

			&::placeholder {
				color: #0d1e57;
				font-size: 1rem;
				font-weight: bold;
			}
		}
	}

	&__navigate {
		@include tablet {
			width: 100%;
		}

		@include mobile {
			width: 100%;
		}

		button {
			min-width: 10em;
		}
	}

	&__sub {
		width: 100%;
		padding: 15px 30px;
		background-color: #ceefff6b;

		&__container {
			width: 15%;

			&__signup {
				color: $main-color;
			}

			&__route {
				font-weight: bold;
				font-size: 13px;
			}
		}

		&__logo {
			transition: all 1s;

			&:hover {
				transform: scale(1.2);
			}

			@include mobile {
				margin: 0 auto 1em;
			}

			img {
				width: 100%;
			}

			width: 7em;
			margin-top: 10px;
			cursor: pointer;
		}
	}
}
