<div class="weather-info" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column">
	<div class="weather-info__item">
		<span>NEW YORK</span>
		<span>today</span>
		<span>23°</span>
		<span>sunny</span>
	</div>
	<div class="weather-info__item">
		<span>monday</span>
		<span><img src="../../assets/images/sunny.png" alt=""/></span>
		<span>26°/19°</span>
		<span>sunny</span>
	</div>
	<div class="weather-info__item">
		<span>tuesday</span>
		<span><img src="../../assets/images/rain.png" alt=""/></span>
		<span>20°/12°</span>
		<span>rain</span>
	</div>
	<div class="weather-info__item">
		<span>wednesday</span>
		<span><img src="../../assets/images/cloudy.png" alt=""/></span>
		<span>14°/6°</span>
		<span>cloudy</span>
	</div>
</div>
