$background-desktop: url("../images/Background.svg") no-repeat center / cover;
$background-mobile: url("../images/background-mbl.svg") no-repeat left / cover;
$main-color: white;
$openSans: "Open Sans", sans-serif;
