<div class="header">
	<div class="header-item">
		<img src="./images/logo.png" alt="herolo-logo" class="logo" />
	</div>
	<div class="header-item">
		<div class="search">
			<div>
				<img src="./images/search.png" alt="searchIcon" />
			</div>
			<div>
				<input type="text" placeholder="Search another city" />
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="arrow">
		<span>
			<img src="./images/arrow right.svg" alt="arrow" />
		</span>
	</div>
	<div class="main">
		<div class="item">
			<div>NEW YORK</div>
			<div>today</div>
			<div>23°</div>
			<div>sunny</div>
		</div>
		<div class="item">
			<div>monday</div>
			<div>
				<img src="./images/sunny.png" alt="sunny" />
			</div>
			<div>26°/19°</div>
			<div>sunny</div>
		</div>
		<div class="item">
			<div>tuesday</div>
			<div>
				<img src="./images/rain.png" alt="rain" />
			</div>
			<div>20°/12°</div>
			<div>rain</div>
		</div>
		<div class="item">
			<div>wednesday</div>
			<div>
				<img src="./images/cloudy.png" alt="cloudy" />
			</div>
			<div>14°/6°</div>
			<div>cloudy</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
