@import "../shared/mixins";
@import "../shared/vars";

.main-app {
	height: calc(100% - 40px);
	width: 100%;
	position: relative;
	overflow: hidden auto;

	&__coded {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: $main-color;
		padding: 4px 0;
		text-align: center;
		z-index: 2;
	}
}
