@import "../../../shared/mixins";
@import "../../../shared/vars";

.signup {
	@include mobile {
		width: 60%;
	}

	width: 35em;
	margin: 0 auto;
	padding: 2.5em;
	border-radius: 10px;
	background: aliceblue;

	&__form {
		&__signup {
			margin-top: 1em;
		}
	}
}
