@import "./shared/mixins";
@import "./shared/vars";

@include google-font(Roboto);

* {
	outline: none !important;
}

html,
body {
	height: 100%;
	font-size: 16px;
	overflow: hidden;
}

body {
	@include mobile {
		background: $background-mobile;
	}

	background: $background-desktop;
	font-family: "Roboto", sans-serif;
}
