@import "../../shared/mixins";
@import "../../shared/vars";

.favorite-info {
	flex-wrap: wrap;
	color: $main-color;
	padding: 0 1em;
	margin-top: 3em;
	width: 100%;

	&__item {
		cursor: pointer;
		width: 15em;
		height: 18em;
		margin-bottom: 2em;
		transition: all 0.5s;
		perspective: 1000px;

		&__city {
			height: auto;
			width: auto;
			font-size: 30px;
			border: 1px solid;
			padding: 10px;
			border-radius: 3em;
		}

		&:hover {
			.flip-card-inner {
				transform: rotateY(180deg);
			}
		}

		.flip-card-inner {
			position: relative;
			width: 100%;
			height: 100%;
			transition: transform 0.6s;
			transform-style: preserve-3d;
			border-radius: 1em;
			background: rgba(255, 255, 255, 0.1);
		}

		.front-info,
		.back-info {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 1em;
			background: no-repeat center;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}

		.back-info {
			background: rgba(255, 255, 255, 0.1);
			transform: rotateY(180deg);
			z-index: 1;

			.mat-stroked-button {
				border-color: white;
			}
		}
	}

	&__main-title {
		@include mobile {
			font-size: 2em;
		}

		color: $main-color;
		font-family: cursive;
		text-align: center;
		font-size: 4em;
	}

	&__subtitle {
		font-size: 40px;
		font-weight: bold;
		font-family: fantasy;
		text-align: center;
		word-break: break-word;
		margin: 0;
	}
}
