@import "../../shared/mixins";
@import "../../shared/vars";

.favorite-info {
	flex-wrap: wrap;
	color: $main-color;
	padding: 0 1em;
	width: 100%;

	&__item {
		cursor: pointer;
		width: 15em;
		height: 18em;
		margin-bottom: 2em;
		transition: all 0.5s;
		perspective: 1000px;

		span:first-child {
			font-family: fantasy;
			font-size: large;
		}

		span:nth-child(2) {
			width: 5em;
			height: 5em;
			margin: 0 auto;
			display: flex;
			align-items: center;

			img {
				width: 100%;
			}
		}

		span:nth-child(3) {
			font-size: 3em;
			font-family: cursive;
		}

		span:nth-child(4) {
			font-size: 1em;
			font-style: italic;
		}

		&__city {
			height: auto;
			width: auto;
			font-size: 40px;
			border: 1px solid;
			padding: 10px;
			border-radius: 3em;
		}

		&:hover {
			.flip-card-inner {
				transform: rotateY(180deg);
			}
		}

		.flip-card-inner {
			position: relative;
			width: 100%;
			height: 100%;
			transition: transform 0.6s;
			transform-style: preserve-3d;
			border-radius: 1em;
			background: rgba(255, 255, 255, 0.1);
		}

		.front-info,
		.back-info {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 1em;
			background: no-repeat center;
			background-size: cover;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
		}

		.back-info {
			background: rgba(255, 255, 255, 0.1);
			transform: rotateY(180deg);
			z-index: 1;
		}
	}

	&__main-title {
		color: $main-color;
		font-family: cursive;
		border: 2px dashed;
		padding: 20px;
		margin: 1em 0;
		text-align: center;
	}

	&__subtitle {
		font-size: 50px;
		font-weight: bold;
		font-family: fantasy;
		margin: 0;
	}

	&__wrapper {
		height: 100%;
	}
}
